
@{
    ViewBag.Title = "Super Zapatos";
}
<div class="row">
    <div class="col-md-12">
        <br />
        <div align="center">
            <img width="300" alt="Logo" src="~/Images/logo.png" />
            <h1>Super Zapatos</h1>
        </div>
        <br />
        <div>
            <p>
                En la empresa "Super Zapatos" ocupan realizar una aplicación web para llevar el control de inventario del calzado disponible en su zapatería. Dada esta necesidad, los expertos de tecnología de la empresa consideraron que la mejor opción sería hacer una aplicación ASP.Net utilizando MVC. El cliente desea que las paginas se ajusten al dispositivo que la está mostrando (Mobil, Tablet, PC).
            </p>
        </div>
    </div>
</div>
